.navbar-default {
	background-color: #666666;
	link-color: #FFF;



}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
.navbar-default-link-color {
	color: #FFF;
}
ul.nav li a, ul.nav li a:visited {
    color: #FFF !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #FFF !important;
}

ul.nav li.active a {
    color: #FFF !important;
}
.center-blcok { 
display: block;
margin-left: auto;
margin-right: auto;
}
p {
    padding-left: 430px;
}

.apple-grid {
    background-color:#f2f2f2;text-align:center;
    display:inline-block;

}
.p-edit {
    padding-left: 200px;
    font-size: 7pt;
    color: #a5a5a5;

}
.p-edit-2{
    padding-left: 800px;
    padding-top: 30px;

}